{%- assign product_img_url = product.featured_image.src | img_url: '700x' -%}
{%- if grid_width_large == 'large--one-whole' -%}
  {%- assign product_img_url = product.featured_image.src | img_url: '1200x' -%}
{%- elsif grid_width_large == 'large--one-half' -%}
  {%- assign product_img_url = product.featured_image.src | img_url: '900x' -%}
{%- endif -%}

{%- assign on_sale = false -%}
{%- if product.compare_at_price > product.price -%}
  {%- assign on_sale = true -%}
{%- endif -%}

{% capture customprice %}{% include 'custom-product-price-calculator', product: product %}{% endcapture %}
{% assign customprice = customprice | times: 1 %}
{%- if product.price > customprice and customprice > 0  -%}
  {%- assign on_sale = true -%}
{%- endif -%}

{%- assign sold_out = true -%}
{%- if product.available -%}
  {%- assign sold_out = false -%}
{%- endif -%}

{%- assign new_product = false -%}
{%- assign published_date = product.published_at | date: "%s"  -%}
{%- assign now_date = 'now' | date: "%s" -%}
{%- assign age_in_days = now_date | minus: published_date | divided_by: 60 | divided_by: 60 | divided_by: 12 -%}
{%- if age_in_days < settings.tag_new_limit -%}
  {%- assign new_product = true -%}
{%- endif -%}

{%- assign sellout_tag = false -%}
{%- if sold_out and settings.tag_sale -%}
  {%- assign sellout_tag = true -%}
{%- endif -%}

{%- assign new_tag = false -%}
{%- if new_product and settings.tag_new -%}
  {%- assign new_tag = true -%}
{%- endif -%}

{%- assign sale_tag = false -%}
{%- if on_sale and settings.tag_sale -%}
  {%- assign sale_tag = true -%}
{%- endif -%}

{%- assign tagged = false -%}
{%- if sellout_tag or new_tag or sale_tag -%}
  {%- assign tagged = true -%}
{%- endif -%}

{%- capture sticker -%}
  {%- if tagged %}
    {%- if sellout_tag -%}
      <div class="sticker sticker--sold">{{ 'products.product.sold_out' | t }}</div>
    {%- elsif sale_tag -%}
      <div class="sticker sticker--sale">{{ 'products.product.sale' | t }}</div>
    {%- elsif new_tag -%}
      <div class="sticker sticker--new">{{ 'products.product.new' | t }}</div>
    {%- endif -%}
  {%- endif -%}
{%- endcapture -%}

<div class="grid__item {{ grid_offset }} {{ grid_width_small }} {{ grid_width_medium }} {{ grid_width_large }}{% if on_sale %} on-sale{% endif %}{% if tagged %} tagged{% endif %} product-grid-item">
  <a href="{% if collection.handle == 'sale' %}{% for variant in product.variants %}{% if product.price_min == variant.price %}{{ variant.url | within: collection }}{% break %}{% endif %}{% endfor %}{% else %}{{ product.url | within: collection }}{% endif %}" class="grid__image">
    <img src="{{ product_img_url }}" alt="{{ product.featured_image.alt | escape }}">
    {{ sticker }}
  </a>
  {% comment %}Added / Modified by @Pawan on 05 03 2018 to support Discount Ninja {% endcomment %}
  <div data-limoniapps-discounturl-product-handle="{{ product.handle }}" data-limoniapps-discounturl-product-price="{{ product.price_min }}" data-limoniapps-discounturl-product-compareatprice="{{ product.compare_at_price_max }}" class="figcaption {{ settings.product_grid_style }} {{ settings.collection_text_alignment | default: 'text-center' }}">
    <a href="{% if collection.handle == 'sale' %}{% for variant in product.variants %}{% if product.price_min == variant.price %}{{ variant.url | within: collection }}{% break %}{% endif %}{% endfor %}{% else %}{{ product.url | within: collection }}{% endif %}">
      <p class="h6 name_wrapper">
        {{ product.title }}
      </p>
 
      <!-- HC - Hide price if when $0.00 - 19 Mar '18 -->
      {% unless product.price == 0 %}
      <p class="price_wrapper" {% if product.price_varies %} data-varies="{{ 'products.general.from' | t }}" {% endif %} data-price="{{ product.price }}" data-compare-price="{{ product.compare_at_price }}" data-product-id="{{ product.id }}" data-tags="{% for tag in product.tags %}{{ tag }}/{% endfor %}">
        
        {% if customprice > 0 %}
        	{% if product.price_varies %}{{ 'products.general.from' | t }} {% endif %}
        	  <span class="price special-price {% if on_sale %} on-sale{% endif %}">
              	<span class="money">{{ customprice | money }}</span>
            </span>
            {% if on_sale %}
            <br><span class="compare-at"><span class="money">{{ product.price | money }}</span></span>
            {% endif %}
        {% else %}
        	  <span  class="price{% if on_sale %} on-sale{% endif %} custom-price-calc">
            	{% if product.price_varies %}{{ 'products.general.from' | t }} {% endif %}
              	<span class="money">{{ product.price | money }}</span>
            </span>
            {% if on_sale %}
            <br><span class="compare-at"><span class="money">{{ product.compare_at_price | money }}</span></span>
            {% endif %}

        {% endif %}
        
      </p>
      
      <form method="post" action="/cart/add">
        <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
        <input min="1" type="number" id="quantity" name="quantity" value="1"/>
        <input type="submit" value="Add to cart" class="btn" />
      </form> 
      {% endunless %}
   
    </a>
  </div>
</div>

