{% include 'elspw_cart' %}
{% include 'discount_code_tracker' %}

<script data-cfasync="false" type="text/javascript">if (typeof Shopify === "undefined") var Shopify = {}; Shopify.cart = {{ cart | json }};</script>

<div id="sca-fg-owl-carousel">
  <div id="freegift_cart_container" name="sca.fg.cart" class="sca-fg-cart-container" style="display: none;">
    <div id="freegift_message" class="owl-carousel"></div>
  </div> 
  <div id="sca-fg-slider-cart" style="display: none;">
    <div class="sca-fg-cart-title">
      <strong>Select your free gift (s)</strong>
    </div>
    <div id="sca_freegift_list" class="owl-carousel"></div>
  </div>
</div>
<div id="sca_fg_cart">
{% assign cart_total = 0 %}
{% if cart.item_count > 0 %}
<div class="wrapper page-margin">
  <form action="/cart" method="post" novalidate class="cart cartForm">
    <h3>{{ 'cart.general.title' | t }}</h3>

    <div class="cart__body">
      <div class="cart__row medium-down--hide cart__header-labels">
        <div class="grid--full">
          <div class="grid__item large--one-half push--large--one-half">
            <div class="grid--full">
              {% if settings.cart_quantity %}
                <div class="grid__item one-third medium-down--one-third">
                  {{ 'cart.label.price' | t }}
                </div>
                <div class="grid__item one-third medium-down--one-third text-center">
                  {{ 'cart.label.quantity' | t }}
                </div>
              {% else %}
                <div class="grid__item two-thirds medium-down--two-thirds"></div>
              {% endif %}
              <div class="grid__item one-third medium-down--one-third text-right">
                {{ 'cart.label.total' | t }}
              </div>
            </div>
          </div>
        </div>
      </div>

      {% comment %}
        Loop through products in the cart
      {% endcomment %}
      {% for item in cart.items %}
{% comment %}Added / Modified by @Pawan on 05 03 2018 to support Discount Ninja {% endcomment %}      
        {% include 'limoniapps-discounturl-cart-lineitem', item: item %}
      {% capture wsprice %}{% include 'ws-product-price-calculator', product: item, collections: item.product.collections, variantId: item.id %}{% endcapture %}
      {% capture cart_total %}{{ wsprice | times: item.quantity | plus: cart_total }}{% endcapture %}
        <div class="cart__row {{ bold_row_class }}" {{ bold_row_data }} data-line="{{forloop.index}}" data-id="{{ item.id }}">
          <div class="grid--full cart__row--table-large">

            <div class="grid__item large--one-half">
              <div class="grid--full cart__row--table-large">

                <div class="grid__item one-third">
                  <a href="{{ item.url | within: collections.all }}" class="cart__image">
                    <img src="{{ item | img_url: 'small' }}" alt="{{ item.title | escape }}">
                  </a>
                </div>

                <div class="grid__item two-thirds cart__item__title">
                  <a href="{{ item.url }}" class="h4--body">
                    {{ item.product.title }}
<span class="saso-cart-item-discount-notes" data-key="{{item.key}}"></span>
<span class="saso-cart-item-upsell-notes" data-key="{{item.key}}"></span>                                
                                
                  </a>
                  {% unless item.product.has_only_default_variant %}
                    <p><small>{{ item.variant.title }}</small></p>
                  {% endunless %}

                  {% if settings.cart_vendor_enable %}
                    <p>{{ item.vendor }}</p>
                  {% endif %}

                 {% assign property_size = item.properties | size %}
<!--                   <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_properties" style="display:none !important;"></span> -->
                  {% if property_size > 0 %}
                    {% for p in item.properties %}
        {%- if p.first.first == '_' -%}{%- continue -%}{%- endif -%}
              {% comment %}Added / Modified by @Pawan on 05 03 2018 to support Discount Ninja {% endcomment %}    
                  {% unless p.first == 'limoniapps-discounturl' or p.last == blank %}
                        {{ p.first }}:

                        {% comment %}
                          Check if there was an uploaded file associated
                        {% endcomment %}
                        {% if p.last contains '/uploads/' %}
                          <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                        {% else %}
                          {{ p.last }}
                        {% endif %}
                      {% endunless %}
                    {% endfor %}
                  {% endif %}
   {% comment %}Added / Modified by @Pawan on 05 03 2018 to support Discount Ninja {% endcomment %}                
                  {% if discounturl_lineitem_savings_visible %}
    {% include 'limoniapps-discounturl-cart-markup-linesavings' %}
{% endif %}
                  <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart__remove uppercase lighten" data-id="{{ item.id }}">
                    <small>{{ 'cart.general.remove' | t }}</small>
                  </a>
                </div>

              </div>
            </div>

            <div class="grid__item large--one-half">
              <div class="grid--full cart__row--table-large">
                {% if settings.cart_quantity %}
                  <div class="grid__item one-third text-left">
                    <span class="cart__mini-labels">{{ 'cart.label.price' | t }}</span>
                    <span class="h5--body ">
                    <span class="price_wrapper" data-item-id="{{ item.id }}" data-varies="" data-price="{{ item.original_price }}" data-product-id="{{ product.id }}" data-tags="{% for tag in item.product.tags %}{{ tag }}/{% endfor %}">
                     {% comment %}Added / Modified by @Pawan on 05 03 2018 to support Discount Ninja {% endcomment %}    
                      {% if discounturl_lineitem_discountamount > 0 %}
                        {% include 'limoniapps-discounturl-cart-markup-productprice' %}
                      {% else %}
<!--                         <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_price" style="display:none !important;"></span> -->
                        {{ item.price | money }}
                        
                      {% endif %}
                    </span>
                    {% if item.original_price > item.price %}
                      <!--
                      <br />
                      <span style="text-decoration: line-through;">{{ item.original_price | money }}</span>
            -->
                  {% endif %}
                    </span>
                  </div>

                  <div class="grid__item one-third text-center">
                    <span class="cart__mini-labels">{{ 'cart.label.quantity' | t }}</span>
                    {% comment %}
                      Added data-id for the ajax cart implementation only.
                    {% endcomment %}
                    <input type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0" data-id="{{ item.id }}" data-submit="true" class="ajaxcart--hide {{ bold_qty_class }}" {{ bold_qty_attr }}>
                  </div>
                {% else %}
                  <div class="grid__item two-thirds"></div>
                {% endif %}

                <div class="grid__item one-third text-right">
                  <span class="cart__mini-labels">{{ 'cart.label.total' | t }}</span>
                  <span class="h5--body ">
                    <span class="row-line-item" data-item-id="{{ item.id }}" data-quantity="{{ item.quantity }}" data-varies="" data-price="{{ item.price }}" data-product-id="{{ product.id }}" data-tags="{% for tag in item.product.tags %}{{ tag }}/{% endfor %}">
                   {% comment %}Added / Modified by @Pawan on 05 03 2018 to support Discount Ninja {% endcomment %}    
                      {% if discounturl_lineitem_discountamount > 0 %}
                      {% include 'limoniapps-discounturl-cart-markup-lineprice' %}
                      {% else %}
<!--                          <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_total" style="display:none !important;"></span> -->
                      {{ wsprice | times: item.quantity | money }}
                      
                      {% endif %}
                      </span>
                  </span>
                </div>
              </div>

              <div class="ajaxcart__errors hidden errors text-center" id="ajaxcart__item__{{item.id}}__errors">
                {{ 'cart.general.stockout' | t }}
              </div>
            </div>

          </div>
        </div>
      {% endfor %}
{% comment %}Added / Modified by @Pawan on 05 03 2018 to support Discount Ninja {% endcomment %}       
       {% include 'limoniapps-discounturl-cart' %}
    </div>
 
    <div class="cart__row cart__footer">
      <div class="grid">
        {% comment %}
          Optional, add a textarea for special notes
            - Your theme settings can turn this on or off. Default is on.
            - Make sure you have name="note" for the message to be submitted properly
        {% endcomment %}
        {% if settings.cart_notes_enable %}
          <div class="grid__item large--one-half cart__instructions">
            <label class="cart__instructions__label" for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
            <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ cart.note }}</textarea>
          </div>
        {% endif %}
        <div class="grid__item {% if settings.cart_notes_enable %} large--one-half text-right{% endif %}">
          <p class="cart__footer__text">
            <span class="cart__subtotal-title uppercase">{{ 'cart.general.subtotal' | t }}</span>
            <span class="h3--body cart__subtotal ">
              {% comment %}Added / Modified by  on 05 03 2018 to Discount Ninja  {% endcomment %}  
              {% if discounturl_cart_discountamount_total > 0 %}
                 {% include 'limoniapps-discounturl-cart-markup-subtotal' %}<br/>        
                 <p class="cart__footer__text">
                    {% if discounturl_lineitem_discountamount > 0 %}
                   {% include 'limoniapps-discounturl-cart-markup-cartsavings' %}{% endif %}</p>   
              {% else %}
<!--                <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_total" style="display:none !important;"></span>{{ cart_total | money }}</span> -->
              {% endif %}
          </p><br>
          <p class="cart__footer__text"><em>{{ 'cart.general.shipping_at_checkout' | t }}</em></p>
          <input type="submit" name="update" class="btn--secondary update-cart btn--large uppercase" value="{{ 'cart.general.update' | t }}">
          {% comment %}Added / Modified by @Pawan on 05 03 2018 to support Discount Ninja {% endcomment %}
          <span><input type="submit" name="checkout" class="btn uppercase btn--large checkout__button  limoniapps-discounturl-checkout" value="{{ 'cart.general.checkout' | t }}"></span>
        </div>
        
      </div>
    </div>
    {% if additional_checkout_buttons and settings.cart_show_additional_buttons and discounturl_cart_discountamount_total == 0 %}
      <div class="grid__item additional-checkout-buttons">
        {{ content_for_additional_checkout_buttons }}
      </div>
    {% endif %}
    </form>
</div>
<div class="text-center" style="color:red; font-size:1.0em;">   
<br><br>California & Colorado customers – Additional city/county taxes will apply to your order.
</div>
{% else %}
  {% comment %}
    The cart is empty
  {% endcomment %}
  <div class="wrapper page-margin text-center">
    <h3 class="uppercase h3">{{ 'cart.general.title' | t }}</h3>
    <p>{{ 'cart.general.empty' | t }}</p>
    <a href="{{ settings.cart_continue_browsing | default: '/collections/all' }}" class="btn btn--large">{{ 'cart.general.continue_browsing_html' | t }}</a>
  </div>
{% endif %}
{{ bold_edit_in_cart }}
</div>

{% include 'upsells' %}